/*Centering things was always a pain, remembering best practices isnt likely to happen. So far nothings worked*/
/* .mainProfile{
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
} */

body {
    background-color: rgb(210, 221, 233);
  }
